<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RBCUSS-Home</title>
   <link rel="icon" type="image" href="../static/img/RBC-LOGO.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>

  <body bgcolor="skyblue">
    <div class="header">
      <img src="../static/img/RBC-LOGO.png">
     <p> <a href="index.html">Home</a>
      <a href="login.html">Login</a>
      <a href="register.html">Register</a>
      <a href="requestdashboard.html">Dashoard</a>
      <a href="requestform.html">Request</a>
      <a href="chatpage.html">Chat</a></p>
      </div>

     <center> <h2>Welcome to Rwanda Biomedical Center IT User Support System, Our IT Help Desk Team</h2></center>
      <center><h3> The team provide Physical and Virtual Support to all Divisions within RBC at a time</h3></center>
      <center><img src="../static/img/Fabien2.jpg" style="width:60%;height:40%; margin-bottom: 5%;"></center>
      <div class="footer">
        
        <p>Copyright &copy Fabien NIYIGABA 2023.All Right Reserved </p>
      </div>
  </body>
</html>