<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RBCUSS-Login</title>
    <link rel="icon" type="image" href="../static/img/RBC-LOGO.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login.css">
  </head>

  <body bgcolor="skyblue">
    <div class="header">
      <img src="../static/img/RBC-LOGO.png">
      <p> <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
        <a href="requestdashboard.html">Dashoard</a>
        <a href="requestform.html">Request</a>
        <a href="chatpage.html">Chat</a></p>
      </div>
   <form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="../static/img/avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br>
     <label for="">
      <input type="checkbox" checked="checked" name="remember">Remember me</label> 
     <br>  
  </div>
  <div class="container1" style="background-color:#f1f1f1">

    <button type="submit">Login</button>
    <label>
      <br> 
        <span class="psw">Forgot <a href="#">password?</a> </label>
      <label>
        <br> 
          <span> Don't have an account <a href="register.html">Create an account</a></span>
          <br> 
          <br> 
    </label>
  </div>
</form>  
<div class="footer">
 
  <p>Copyright &copy Fabien NIYIGABA 2023.All Right Reserved </
</div>
</body>
</html>