<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RBCUSS-Register</title>
    <link rel="icon" type="image" href="../static/img/RBC-LOGO.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/register.css">
  </head>

  <body bgcolor="skyblue">
    <div class="header">
      <img src="../static/img/RBC-LOGO.png">
      <p> <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
        <a href="requestdashboard.html">Dashoard</a>
        <a href="requestform.html">Request</a>
        <a href="chatpage.html">Chat</a></p>
      </div>
     <div class="form">
        <form action="" class="form1">
            <h2>Personal Information</h2>  
           <input type="text" placeholder="Title E.g: Dr, Miss" name="title" required><br> 
            <input type="text" id="fname" name="firstname" placeholder="First Name" required ><br>
            <input type="text" id="lname" name="lastname" placeholder="Last Name" required><br>
            <input type="text" id="phone" name="phonenumber" placeholder="Phone Number" required><br>
           <input type="email" id="email" name="email" placeholder="E-mail Address" required><br>
            <!-- <select name="Division" id="division">
              <option value="User">Select Division or Units</option>
              <option value="rid">Research, Innovation and Data Science</option>
              <option value="cs">Senior Management</option>
              <option value="cs">Corporate Services</option>
              <option value="public health">Public health surveillance and emergency preparedness and response</option>
              <option value="HIV/AIDS">HIV/AIDS and STIs Diseases</option>
              <option value="malaria">Malaria and Other Parasitic Diseases</option>
              <option value="cs">Maternal, Child and Community Health</option>
              <option value="cs">Medical Technology and Infrastructure (MTI)</option>
              <option value="cs">Mental Health</option>
              <option value="cs">National Reference Laboratory</option>
              <option value="cs">Blood Transfusion Division</option>
              <option value="cs">Non Communicable Diseases</option>
              <option value="cs">Rwanda Health Communication Centre</option>
              <option value="cs">Tuberculosis and Other Respiratory Diseases</option>
              <option value="cs">SPIU</option>
              <option value="cs">SAMU services</option>
            </select><br>
            <select name="Mode of Support" id="mode">
              <option value="User">Select type of user</option>
              <option value="Online">IT</option>
              <option value="Physical">Admin</option>
              <option value="Online">End User</option>
            </select><br>
            <input type="text" id="username" name="username" placeholder="UserName" required ><br>
             <input type="password" placeholder="Password" name="psw" required><br>
               <input type="password" placeholder="Password Again" name="psw1" required><br>-->

            <input type="submit" value="Next" required><br><br>
            <label for="">Continue to the Department Information on right side</strong></label>
        </form> 
          <form action="" class="form2">
              <h2>Department Information</h2>  
              <select name="Division" id="division">
                <option value="User">Select Division or Units</option>
                <option value="rid">Research, Innovation and Data Science</option>
                <option value="cs">Senior Management</option>
                <option value="cs">Corporate Services</option>
                <option value="public health">Public health surveillance and emergency preparedness and response</option>
                <option value="HIV/AIDS">HIV/AIDS and STIs Diseases</option>
                <option value="malaria">Malaria and Other Parasitic Diseases</option>
                <option value="cs">Maternal, Child and Community Health</option>
                <option value="cs">Medical Technology and Infrastructure (MTI)</option>
                <option value="cs">Mental Health</option>
                <option value="cs">National Reference Laboratory</option>
                <option value="cs">Blood Transfusion Division</option>
                <option value="cs">Non Communicable Diseases</option>
                <option value="cs">Rwanda Health Communication Centre</option>
                <option value="cs">Tuberculosis and Other Respiratory Diseases</option>
                <option value="cs">SPIU</option>
                <option value="cs">SAMU services</option>
              </select><br>
              <select name="Mode of Support" id="mode">
                <option value="User">Select type of user</option>
                <option value="Online">IT</option>
                <option value="Physical">Admin</option>
                <option value="Online">End User</option>
              </select><br>
              <input type="text" id="username" name="username" placeholder="User Name" required ><br>
               <input type="password" placeholder="Password" name="psw" required><br>
                 <input type="password" placeholder="Password Confirmation" name="psw1" required><br>
  
              <input type="submit" value="Register" required><br><br>
              <label for="">Already have an account? <strong><a href="login.html">SignIn</a></strong></label>
          </form>
       
    </div>
    <div class="footer">
      <p>Copyright &copy Fabien NIYIGABA 2023.All Right Reserved </p>
    </div>
  </body>
</html>