<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RBCUSS-Request Dashboard</title>
    <link rel="icon" type="image" href="../static/img/RBC-LOGO.png"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
  </head>

  <body bgcolor="skyblue">
    <div class="header">
      <img src="../static/img/RBC-LOGO.png">
      <p> <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
        <a href="requestdashboard.html">Dashoard</a>
        <a href="requestform.html">Request</a>
        <a href="chatpage.html">Chat</a></p>
      </div>
    
    <div class="table">
        <h1>SOLVED REQUESTS</h1>
          <table border="0"> 
            <tr bgcolor="greenyellow">
                <th>ID</th>
                <th> Employee Name</th>
                <th> Place (Office)</th>
                <th> Problem</th>
                <th> Mode of Support</th>
                <th>Time Within</th>
                <th>Status</th>
            </tr>
            <tr bgcolor="white">
                <td>1</td>
                <td>Fabien</td>
                <td>IT Help Desk</td>
                <td>Failed to start</td>
                <td>Physical</td>
                <td>10:50 PM</td>
                <td>Solved</td>
            </tr>
            <tr bgcolor="white">
                <td>2</td>
                <td>Fabien</td>
                <td>IT Help Desk</td>
                <td>Failed to start</td>
                <td>Physical</td>
                <td>10:50 PM</td>
                <td>Solved</td>
            </tr>
            <tr bgcolor="white">
                <td>4</td>
                <td>Fabien</td>
                <td>IT Help Desk</td>
                <td>Failed to start</td>
                <td>Physical</td>
                <td>10:50 PM</td>
                <td>Solved</td>
            </tr>
            <tr bgcolor="white">
                <td>5</td>
                <td>Fabien</td>
                <td>IT Help Desk</td>
                <td>Failed to start</td>
                <td>Physical</td>
                <td>10:50 PM</td>
                <td>Solved</td>
            </tr>
        </div>
          <div class="footer">
            <p>Copyright &copy Fabien NIYIGABA 2023.All Right Reserved </
          </div>
        </body>
      </html>